@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 0.1px solid red; */
}

.main {
    background-color: lightgray;
}

.div-top {
    height: 20vh;
    margin-bottom: 1vh;
    background-color: white;
    display: flex;
}

.time-input-container {
    width: 15vw;
    margin: 0 0% 0 3%;
    /* border: 1px solid green; */
}

.time-input-top {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 80%;
    margin-left: 10%;
    /* border: 1px solid brown; */
}

.fa-solid {
    border: none;
    border-radius: 50%;
    height: 70%;
    aspect-ratio: 1/1;
    color: white;
    font-size: 3vh;
    padding-top: 1px;
    cursor: pointer;
}

.fa-solid.fa-play.pp-button {
    padding-left: 1.5%;
    padding-top: 1.0%;
}

.fa-solid.fa-pause.pp-button {
    padding-left: 0.8%;
    padding-top: 1.0%;
}

.fa-solid.fa-rotate-left.reset-button {
    padding-left: 1.2%;
    padding-top: 1.1%;
}


.pp-button {
    background-color: rgb(0, 146, 172);
}

.pp-button:hover {
    background-color: rgb(50, 185, 209);
}

.pp-button:active {
    background-color: rgb(9, 86, 100);
}

.reset-button {
    background-color: lightgray;
}

.reset-button:hover {
    background-color: rgb(247, 124, 181);
}

.reset-button:active {
    background-color: rgb(131, 13, 68);
}

.time-input-bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 4vh;
    /* border: 1px solid purple; */
}

input {
    position: absolute;
    height: 65%;
    width: 80%;
    /* border: 0.35vh solid gray; */
    text-align: center;
    border-radius: 4vh;
    font-size: 3vh;
}

.time-left-container {
    width: 15vw;
    margin: 1% 0% 1% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    height: 45%;
    font-size: 3vw;
    text-align: center;
}

.progress-bar-container {
    width: 70vw;
    margin: 0 3% 0 1%;
    /* border: 1px solid blue; */
}

.progress-bar-top {
    height: 35%;
    /* border: 1px solid blue; */
}

.progress-bar-top * {
    /* border: 1px solid pink; */
}

.time-mark {
    height: 100%;
    margin: 0 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 3vh;
}

.progress-bar-mid {
    height: 15%;
    margin: 0 5%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.pipe {
    background-color: black;
    color: black;
    height: 90%;
    width: 0.25%;
    z-index: 2;
}

.progress-bar-bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid orange; */
}

.progress-bar {
    height: 65%;
    position: absolute;
    width: 90%;
    background-color:  rgb(0, 146, 172);
    z-index: 2;
    /* margin-bottom: 1%; */
}

.fixed-bar {
    height: 65%;
    position: absolute;
    width: 90%;
    background-color: rgb(143, 143, 143);
    z-index: 1;
    /* margin-bottom: 1%; */
}


.progress-bar:active {
    visibility: hidden;
}


.div-bottom {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.div-bottom > * {
    /* border: 1px solid blue; */
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.div-left {
    display: flex;
    width: 50%;
    margin-right: 0.25vw;
}

/* .div-bottom > .div-left > #htmeditor {
    width: 50px;
    margin-right: 100px;
} */

.tox-icon > svg {
    transform: scale(0.7);
}

.div-right {
    width: 50%;
    margin-left: 0.25vw;
}