@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

.main {
    background-color: lightgray;
}

.div-top {
    /* border: 1px solid orange; */
    height: 20vh;
    margin-bottom: 1vh;
    background-color: white;
    display: flex;
    border-radius: 3%;
}

.div-top * {
}

.time-input-container {
    width: 20vw;
}

.time-input-up {
    height: 50%;
    margin-left: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-solid {
    border: none;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    color: white;
    font-size: 3vh;
    padding-top: 1px;
    cursor: pointer;
}

.fa-solid.fa-play.pp-button {
    padding-left: 2px;
}

.fa-solid.fa-pause.pp-button {
    padding-left: 0px;
}

.pp-button {
    background-color: rgb(0, 146, 172);
}

.pp-button:hover {
    background-color: rgb(50, 185, 209);
}

.pp-button:active {
    background-color: rgb(9, 86, 100);
}

.reset-button {
    background-color: lightgray;
}

.reset-button:hover {
    background-color: rgb(247, 124, 181);
}

.reset-button:active {
    background-color: rgb(131, 13, 68);
}

.time-input-down {
    height: 50%;
    margin-left: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4vh;
}

input {
    height: 60%;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    font-size: 4vh;
}

.progress-bar-container {
    width: 80vw;
}

.progress-bar-container * {
    border: 1px solid red;
    height: 50%;
}

.progress-bar-down {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.fixed-bar {
    margin: 1% 5%;
    align-self: center;
    background-color: gray;
    z-index: 1;
}

.progress-bar {
    position: absolute;
    /* visibility: hidden; */
    width: 30%;
    background-color: orange;
    z-index: 2;
}



.div-bottom {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.div-bottom * {
    /* border: 1px solid blue; */
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.div-left {
    margin-right: 0.25vw;
}

.div-right {
    margin-left: 0.25vw;
}